:root {
  --main-bg-color: tomato;
  --second-bg-color: rgb(255, 145, 125);
  --main-bg-color-hover: rgb(255, 89, 71);
  --second-bg-color-hover: rgb(255, 135, 125);
  --main-bg-color-act: rgb(255, 79, 71);
  --second-bg-color-act: rgb(255, 125, 125);
  --border-radius: 15px;
  --margin: 10px;
  --second-margin: 5px;
  --padding: 10px;
  --second-padding: 5px;
  --main-background-color: #e6ece6;
  --second-background-color: #ffffff;
}

body {
  background-color: var(--main-background-color);
  font-family: Verdana, sans-serif;
  margin: 0px;
}

.card {
  background-color: var(--second-background-color);
  border-radius: var(--border-radius);
  margin: var(--margin);
  float: left;
  overflow: hidden;
}

.card-reverse
{
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  margin: var(--margin);
  float: left;
  overflow: hidden;
}

.card-reverse-1
{
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  margin: var(--margin);
  float: left;
  overflow: hidden;
}

/* just for ara*/

.card-reverse > img {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

/* just for ara end*/

.card>img {
  position: relative;
}

.panel > .grid-dashboard-items > .card, .panel > .file-manager-items > .card, .panel > .theme-manager-items > .card
{
  border-radius: 15px;
  background-color: white;
  float: left;
  margin: 1%;
  padding: 1%;
}

.text {
  padding: var(--padding);
  float: left;
}

.text-float-right {
  padding: var(--padding);
  float: left;
}

.side-img-float-left {
  float: left;
  width: 250px;
}

.side-img-float-right {
  float: right;
  width: 250px;
}

.grid-nav-section-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav""section section section section""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-section-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""section section section section""footer footer footer footer"
  }
}

.grid-nav-aside-section-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav""section section section section""aside aside aside aside""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-aside-section-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""aside section section section""footer footer footer footer"
  }
}
.grid-nav-aside-section-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav""section section section section""aside aside aside aside""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-aside-section-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""aside section section section""footer footer footer footer"
  }
}

.grid-nav-aside-section-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav""section section section section""aside aside aside aside""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-aside-section-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""aside section section section""footer footer footer footer"
  }
}

.grid-header-nav-aside-section-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "header header header header""nav nav nav nav""section section section section""aside aside aside aside""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-header-nav-aside-section-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "header header header header""nav nav nav nav""aside section section section""footer footer footer footer"
  }
}

.grid-header-nav-aside-section-aside-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "header header header header""nav nav nav nav"" aside aside aside aside""section section section section""aside2 aside2 aside2 aside2""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-header-nav-aside-section-aside-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "header header header header""nav nav nav nav""aside section section aside2""footer footer footer footer"
  }
}

.grid-nav-aside-section-aside-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav"" aside aside aside aside""section section section section""aside2 aside2 aside2 aside2""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-aside-section-aside-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""aside section section aside2""footer footer footer footer"
  }
}

.grid-nav-title-aside-section-aside-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav""title title title title"" aside aside aside aside""section section section section""aside2 aside2 aside2 aside2""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-title-aside-section-aside-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""title title title title""aside section section aside2""footer footer footer footer"
  }
}

.grid-nav-title-aside-section-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: var(--padding);
  grid-template-areas: "nav nav nav nav""title title title title""aside aside aside aside""section section section section""footer footer footer footer"
}

@media screen and (min-width:760px) {
  .grid-nav-title-aside-section-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: var(--padding);
    grid-template-areas: "nav nav nav nav""title title title title""aside section section section""footer footer footer footer"
  }
}

nav {
  grid-area: nav;
  padding: var(--second-padding);
  z-index: 2000;
}

nav>* {
  float: left;
}

aside {
  grid-area: aside;
}

.title {
  grid-area: title;
}

.aside2
{
  grid-area: aside2;
  margin-right: var(--margin);
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
  padding: var(--second-padding);
  clear: both;
}

footer>* {
  float: left;
}

.cat-white {
  position: absolute;
  font-weight: bolder;
  font-size: 15px;
  z-index: 500;
  background-color: #fff;
  padding: var(--padding);
  border-radius: var(--border-radius);
  color: #000;
  float: left;
  margin: var(--margin);
}

.cat-black {
  position: absolute;
  font-weight: bolder;
  font-size: 15px;
  z-index: 500;
  background-color: #000;
  padding: var(--padding);
  border-radius: var(--border-radius);
  color: #fff;
  margin: var(--margin);
}

.red-text
{
  color: red;
}

.rounded-img>img {
  border-radius: var(--border-radius);
}

/* Elements */
input[type=text], .textarea {
  padding: var(--padding);
  margin-left: var(--margin);
  margin-right: var(--margin);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 5px solid var(--second-bg-color)
}

progress {
  height: 5px;
  margin: var(--margin);
  border-radius: var(--border-radius);
  overflow: hidden;
  float: left
}

progress::-webkit-progress-bar {
  height: 5px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--main-bg-color)
}

progress::-webkit-progress-value {
  height: 5px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--main-bg-color)
}

progress::-moz-progress-bar {
  height: 5px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--main-bg-color)
}

input[type=submit] {
  background-color: #08ff98;
  border-radius: var(--border-radius);
  text-align: center;
  width: 100px;
  border: 5px solid #9effc8;
  padding: var(--padding);
  margin: var(--margin);
}

input[type=reset] {
  background-color: #4b66ff;
  border-radius: var(--border-radius);
  text-align: center;
  width: 100px;
  border: 5px solid #aebaff;
  padding: var(--padding);
  color: #fff;
  margin: var(--margin);
}

.btn {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  text-align: center;
  width: 90px;
  border: 5px solid var(--second-bg-color);
  padding: var(--padding);
  color: #fff;
  margin: var(--margin);
}

.btn:hover {
  background-color: var(--main-bg-color-hover);
  border-radius: var(--border-radius);
  text-align: center;
  width: 90px;
  border: 5px solid var(--second-bg-color-hover);
  padding: var(--padding);
  color: #fff;
  margin: var(--margin);
}

.btn:active {
  background-color: var(--main-bg-color-act);
  border-radius: var(--border-radius);
  text-align: center;
  width: 90px;
  border: 5px solid var(--second-bg-color-act);
  padding: var(--padding);
  color: #fff;
  margin: var(--margin);
}

.form-center
{
  background-color: var(--second-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 50%;
  margin: 5% auto 10% auto;
  z-index: 500;
}

.form
{
  background-color: var(--second-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 50%;
}

/*  utility classes  */
.padding {
  padding: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding-left {
  padding-left: 10px;
}

.margin {
  margin: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.sticky-up {
  position: sticky;
  top: 0px;
}

.sticky-up {
  position: sticky;
  top: 0px;
}

.sticky-up-unit {
  position: sticky;
  top: 200px;
}

.sticky-down-unit {
  position: sticky;
  bottom: var(--second-margin);
}

.fixed-up {
  position: fixed;
  top: 0px;
}


.fixed-down {
  position: fixed;
  bottom: 0px;
}

.fixed-left {
  position: fixed;
  left: 0px;
}

.fixed-right {
  right: fixed;
  top: 0px;
}

.display-bloc {
  display: block;
}

.display-inline {
  display: inline;
}




/* The slider itself */

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Full-width */
  height: 5px; /* Specified height */
  border-radius: 15px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 15px;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #4b66ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 15px;
  background: #4b66ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/*grid panel*/
.grid-panel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav""section section section section section section section section section section section section"
}

@media screen and (min-width:768px) {
  .grid-panel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas: "nav  nav section section section section section section section section section section"
  }
}

.panel-aside {
  grid-area: nav;
  z-index: 2000;
  background-color: white;
}

.panel {
  grid-area: section;
  padding: 10px;
  background-color: #e8e8e8;
}

.aside-items > li, .aside-items > a
{
  padding: 5px;
  margin: 5px;
  display: block;
  list-style-type: none;
  border-radius: 15px;
  text-decoration: none;
}

.aside-items > li:hover, .aside-items > a:hover
{
  background-color: #0066ff;
  color: white;
}

.fa {
  padding-right: 10px;
}
